body {
  background-color: #F12000;
}
h1 {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  padding: 50px 0 20px 10px;
}
.grid-layout {
  display: grid;
  grid-template: repeat(2, 200px) / repeat(3, 200px);
}
.grid-layout div {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 200px solid #333;
}
.grid-layout .shift {
  transform: translateY(50%);
}
